<div class="panel panel-default">
	<div class="panel-heading">
		<div class="pull-right"><a href="#" class="plainlink glyphicon glyphicon-refresh" ng-class="{ 'glyphicon-spin': !comments.$resolved }" ng-click="getComments()"></a></div>
		Comments <small ng-show="person">(private - will not be seen by {{person}})</small>
	</div>
	<div class="panel-body" ng-hide="comments.$resolved">
		<span class="glyphicon glyphicon-refresh glyphicon-spin"></span>
		Loading...
	</div>
	<ul class="list-group" ng-show="comments.$resolved" id="comments">
		<li class="list-group-item" ng-class="{ disabled: comment.saving }" ng-repeat="comment in comments">
			<div class="row">
				<div class="col-sm-2 valign"><avatar name="comment.Author" /></div><div class="col-sm-7 valign">{{comment.Comment}}</div>
				<div class="col-sm-3 text-right pull-right"><small>{{comment.Date | date:'short'}}</small></div>
			</div>
		</li>
		<li class="list-group-item" ng-show="!comments.length"><i>No comments</i></li>
	</ul>
</div>
<form>
	<div class="input-group">
		<input type="text" class="form-control" id="Comment" placeholder="Comment" ng-model="newComment.Comment" />
		<span class="input-group-btn">
			<button class="btn btn-primary" ng-click="saveComment( newComment )" aria-label="Add Comment"><span class="glyphicon glyphicon-plus" /></button>
		</span>
	</div>
</form>