<div class="panel panel-default">
	<div class="panel-heading">Comments</div>
	<div class="panel-body" ng-hide="comments.$resolved">
		Loading...
	</div>
	<ul class="list-group" ng-show="comments.$resolved" id="comments">
		<li class="list-group-item" ng-class="{ disabled: comment.saving }" ng-repeat="comment in comments">
			<avatar name="comment.Author" />
			{{comment.Comment}}
			<small class="pull-right">{{comment.Date | date:'short'}}</small>
		</li>
		<li class="list-group-item" ng-show="!comments.length"><i>No comments</i></li>
	</ul>
</div>
<div class="input-group">
	<input type="text" class="form-control" id="Comment" placeholder="Comment" ng-model="newComment.Comment" />
	<span class="input-group-btn">
		<button type="button" class="btn btn-primary" ng-click="saveComment( newComment )" aria-label="Add Comment"><span class="glyphicon glyphicon-plus" /></button>
	</span>
</div>
